/* Home page, inspirational, and veggie picks for splide carousel */
.wrapper {
    margin: 4rem 0rem;

    h3 {
        color: var(--text-color);
        font-size: 1.5rem;
        margin: 1.5rem 0rem;
    }

    .card {
        min-height: 25rem;
        border-radius: 2rem;
        overflow: hidden;
        position: relative;

        img {
            border-radius: 2rem;
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        p {
            position: absolute;
            z-index: 10;
            left: 50%;
            bottom: 0%;
            transform: translate(-50%, 0%);
            color: var(--color-white);
            width: 100%;
            text-align: center;
            font-weight: 600;
            font-size: 1rem;
            height: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .gradient {
        z-index: 3;
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    }

    div.btn-wrapper {
        margin: 1rem 0rem;

        .btn {
            width: 268px;
            display: flex;
            justify-content: center;
            margin: auto;
            outline: 0;
            cursor: pointer;
            border: none;
            padding: 0 56px;
            height: 45px;
            line-height: 45px;
            border-radius: 7px;
            background-color: var(--accent-color);
            font-size: 1.5rem;
            box-shadow: 0 4px 14px 0 var(--shadow);
            transition: background 0.2s ease, color 0.2s ease,
                box-shadow 0.2s ease;

            .text-link {
                text-align: center;
                text-decoration: none;
                color: var(--text-color);
                font-weight: 500;
            }
        }
        .btn:hover {
            background: var(--accent-color);
            box-shadow: 0 6px 20px var(--shadow2);
        }
    }

    .center {
        text-align: center;
    }
}

/* Style for Category buttons, turned off. Moved to navbar. */
.list {
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
    .cat-link {
        display: flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-right: 2rem;
        text-decoration: none;
        background: linear-gradient(35deg, #494949, #313131);
        width: 6rem;
        height: 6rem;
        cursor: pointer;
        transform: scale(0.8);

        h4 {
            color: var(--color-white);
            font-size: 0.8rem;
        }
        svg {
            color: var(--color-white);
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
        }

        &.active {
            background: linear-gradient(to right, #f27121, #e94057);

            svg,
            h4 {
                color: var(--color-white);
            }
        }
    }
}

/* Search box, form... */
form.search {
    margin: 2rem 5%;

    .center-bar {
        margin: auto;
    }

    div {
        text-align: center;
        position: relative;
        min-width: 350px;
        max-width: 550px;
    }

    input {
        border: none;
        background: var(--search-bar);
        font-size: 1.5rem;
        color: var(--text-color);
        padding: 1rem 3rem;
        border: 2px solid var(--light-gray);
        border-radius: 1rem;
        outline: none;
        width: 100%;

        &::placeholder {
            color: var(--light-gray-3);
        }
    }

    svg {
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(100%, -50%);
        color: var(--light-gray-3);
    }
}

.footer {
    position: absolute;
    display: flex;
    height: auto;
    /* margin: 1rem 0 0 -5%; */
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-inline: 5%;
    width: 100%;
    background: var(--primary-color-dark);
    /* text-align: center; */

    .contact {
        display: flex;

        /* margin-inline-start: 5rem; */
    }
    p {
        color: var(--accent-color);
    }

    a {
        text-decoration: none;
        color: var(--accent-color);
    }
}
