:root {
    --primary-color: #69b578;
    --secondary-color: #a5d3ae;
    --light-gray: #e1e1e1;
    --light-gray-2: #cbcbcb;
    --accent-color: #ff9f1c;
    --accent-color-bright: #ffb249;
    --background-color: #ffffff;
    --off-white: #f9f9f9;
    --text-color: #090707;
    --shadow: rgba(0, 0, 0, 0.543);
    --shadow2: rgba(0, 0, 0, 0.625);
    --color-white: #ffffff;
    --color-black: #000000;
    --nav-background: var(--primary-color);
    --search-bar: linear-gradient(
        35deg,
        var(--light-gray-2),
        var(--light-gray)
    );
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin: 0% 0%;
    background: var(--background-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.pages {
    margin: 0% 5%;
}
